/* input[type="button"]
{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} */
.btn
{
    padding:.2rem 1rem;
    font-size:2rem;
    font-weight: 500;
    margin: .5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid grey;
}
